<article>
  	<% @articles.each do |d| %>
  		<% if d.status == 'public' %>
	  		<div class="post">
			  <h2><%= d.title %></h2><span><%= d.updated_at %></span>
			  <% if d.tags.any? %>
		      <span><%= raw d.tags.map(&:name).map { |t| link_to t, tag_path(d)}.join(', ') %></span>
		      <% end %>
			  <div class="box"><%= d.text %></div>
			  <div>
			  	<button><%= link_to 'show', article_path(d)%></button>
			  </div>
			</div>
		 <% end %>
	 <% end %>
</article>

