<article>
  	<% @items.each do |d| %>
		  	<% if d.status == 'public' %>
		  	<h2>
		  	  <%= link_to d.title, article_path(d) %>
				</h2>

				<p class="lead">
				</p>
				<p>
						<span class="glyphicon glyphicon-bookmark"><%= link_to d.category_name, category_path(d.category_name) %></span>
					  <% if d.tags.any? %>
				      <span class="glyphicon glyphicon-tag"><%= raw d.tags.map(&:name).map { |t| link_to t, tag_path(t)}.join(', ') %></span>
				    <% end %>
				    <span class="glyphicon glyphicon-time"></span> Posted on <%= d.updated_at.strftime('%Y/%m/%d') %>
				</p>
				<% if d.avatar.url.present? %>
				<%= image_tag d.avatar.url,:class => "img-responsive"  %>
				<% else %>
				<% end %>
				
				<p><%= markdown d.text.truncate(20) %></p>
				<%= link_to article_path(d),:class => "btn btn-primary" do %>
				  続きを見る<span class="glyphicon glyphicon-chevron-right"></span>
				<% end %>
				<hr>
	  		<% end %>
		<% end %>
</article>
