<%= form_for @article, html:{class:"pure-form pure-form-aligned"} do |f| %>

	<% if @article.errors.any? %>
		<div id="error_explanation"></div>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="pure-control-group">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="pure-control-group">
		<%= f.label :text %>
		<%= f.text_area :text %>
	</div>

	<%= f.submit %>

<% end %> 