
<%= form_for @article, html:{class:"pure-form pure-form-stacked"} do |f| %>

	<% if @article.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="pure-control-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "form-control" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :text %>
		<%= f.text_area :text, :class => "form-control" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :category %>
		<%= f.text_field :category, :class => "form-control" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :tag_list %>
		<%= f.text_field :tag_list, :class => "form-control" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
	</div>
	<div class="pure-control-group">
		<%= f.select :status,[["下書き","draft"],["公開","public"]] %>
	</div>

	<div class="pure-control-group">
		<%= f.submit  :class => "pure-button pure-button-primary"%>
		<%= link_to 'back to dashborad',dashborads_path,:class => 'pure-button' %>
	</div>
	
<% end %>