
<%= form_for @article, html:{class:"pure-form pure-form-aligned"} do |f| %>

	<% if @article.errors.any? %>
		<div id="error_explanation"></div>
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :text %>
		<%= f.text_area :text, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :category %>
		<%= f.text_field :category, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :tag_list %>
		<%= f.text_field :tag_list, :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
	</div>
	<div class="form-group">
		<%= f.select :status,[["下書き","draft"],["公開","public"]] %>
	</div>

	<div class="form-group"><%= f.submit  :class => "btn btn-default"%></div>

<% end %>