
<%= form_for @article, html:{class:"pure-form pure-form-stacked"} do |f| %>

	<% if @article.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="pure-control-group">
		<%= f.label :title %>
		<%= f.text_field :title, :class => "form-control" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :text %>
		<%= f.text_area :text, :class => "form-control" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :category %>
		<%# binding.pry %>
		<%= f.select :category,options_for_select(@all_category),{:prompt => 'カテゴリーを選択'}, {:class => 'form-control'} %>
		<%= f.text_field :category,:placeholder => "新規カテゴリー", :class => "form-control inline" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :tag_list %>
		<%= f.select :tag_list,options_for_select(@all_tag),{:prompt => 'タグを選択'}, {:class => 'form-control'} %>
		<%= f.text_field :tag_list,:placeholder => "新規タグ", :class => "form-control inline" %>
	</div>
	<div class="pure-control-group">
		<%= f.label :avatar %>
		<%= f.file_field :avatar %>
	</div>
	<div class="pure-control-group">
		<%= f.select :status,[["下書き","draft"],["公開","public"]] %>
	</div>

	<div class="pure-control-group">
		<%= f.submit  :class => "pure-button pure-button-primary"%>
		<%= link_to 'back to dashborad',dashborads_path,:class => 'pure-button' %>
	</div>
	
<% end %>