<aside>
  <div class="side">
	  <div class="search">
	  	<%= search_form_for @q,url: articles_search_path ,class: "pure-form" do |f| %>
	  	  <%= f.search_field :text_cont,class: "search_input" %>
	  	  <%= f.submit 'Search',class: "pure-button search_go" %>
	  	<% end %>
	  </div>
	  <div class="box">
	  	<h3>Category</h3>
	    <ul>
		  	<% @articles_category.each do |c| %>
	      <li><%= link_to c, category_path(c) %></li>
	      <% end %>
	    </ul>
	  </div>
	  <div class="box">
	  	<h3>Tag</h3>
	    <div class="tag_cloud">
			<% tag_cloud Article.tag_counts, %W[s m l] do |t,css_class| %>
				<% if t.count > 1 %>
					<%= link_to t.name, tag_path(t.name), class: css_class %>
				<% end %>
			<% end %>
	    </div>
	  </div>
	  <!-- <div class="box">
	  	<h3>Related Posts</h3>
	    <ul>

	    </ul>
	  </div> -->
  </div>
</aside>
