<%= render 'header' %>
<% if @articles.status == 'public' or user_signed_in? %>
<section>
  <div class="contents blog pure-g">
    <div class="postslist pure-u-1 pure-u-md-2-3">
			<article>
				<div class="post">
			      <h2><%= @articles.title %></h2>
						<div class="option">
						  <strong><%= @articles.updated_at.strftime('%Y/%m/%d') %></strong>
						  category:<span><%= link_to @articles.category_name, category_path(@articles.category_name) %></span>
						  <% if @articles.tags.any? %>
					      Tag:<span><%= raw @articles.tags.map(&:name).map { |t| link_to t, tag_path(t)}.join(', ') %></span>
					    <% end %>
				    </div>
			      <div class="box"><%= image_tag @articles.avatar.url %><%= markdown @articles.text %></div>
			      <%= render 'sns' %>
			</article>
    </div>
    <div class="sidenavi pure-u-1 pure-u-md-1-3">
      <%= render 'side' %>
    </div>
  </div>
</section>
<% end %>
<%= render 'footer' %>
