<%= render 'header' %>
<!-- Page Content -->
<div class="container">
  <!-- Blog Entries Column -->
	<div class="row">
	  <% if @articles.status == 'public' or user_signed_in? %>
		<div class="col-md-8">
			<article>
			  	<h2>
			  	  <%= link_to @articles.title, article_path(@articles) %>
					</h2>

					<p class="lead">
					  
					</p>
					<p>
							<span class="glyphicon glyphicon-bookmark"><%= link_to @articles.category_name, category_path(@articles.category_name) %></span>
						  <% if @articles.tags.any? %>
					      <span class="glyphicon glyphicon-tag"><%= raw @articles.tags.map(&:name).map { |t| link_to t, tag_path(t)}.join(', ') %></span>
					    <% end %>
					    <span class="glyphicon glyphicon-time"></span> Posted on <%= @articles.updated_at.strftime('%Y/%m/%d') %>
					</p>
					<% if @articles.avatar.url.present? %>
					<%= image_tag @articles.avatar.url,:class => "img-responsive"  %>
					<% else %>
					<% end %>
					
					<p><%= markdown @articles.text %></p>
					<%= render 'sns' %>
			</article>
		</div>
		<% end %>
	<!-- Blog Sidebar Widgets Column -->
	<%= render 'side' %>
	</div>
	<!-- /.row -->
<hr>
<%= render 'footer' %>
</div>
<!-- /.container -->
