<%= render 'header' %>
<section>
  <div class="contents blog row">
    <div class="postslist col-sm-12 col-md-8">
      <article>
				<% @tag.each do |d| %>
					<% if d.status %>	
				  	<div class="post">
				  	<%#= render render(:layout => "some_partial") do%>
						  <h2><%= d.title %></h2>
						  <div class="option">
							  <strong><%= d.updated_at.strftime('%Y/%m/%d') %></strong>
							  category:<span><%= link_to d.category, category_path(d.category) %></span>
							  <span><%#= d.category %></span>
					    </div>
						  <div class="box"><%#= image_tag d.avatar.url %><%= d.text %></div>
						  <div class="more">
						  	<%= link_to '続きを見る', article_path(d), :class => "btn btn-default" %>
						  </div>
						</div>
					<% end %>
				<% end %>
			</article>
    </div>
    <div class="sidenavi col-sm-12 col-md-4">
      <%= render 'side' %>
    </div>
  </div>
</section>

<%= render 'footer' %>
