<%= render 'header' %>
<!-- Page Content -->
<div class="container">
  <!-- Blog Entries Column -->
	<div class="row">
		<div class="col-md-8">
			<%= render 'contents' %>
			<!-- Pager -->
			<%= paginate @items %>
			</ul> -->
		</div>
	<!-- Blog Sidebar Widgets Column -->
	<%= render 'side' %>
	</div>
	<!-- /.row -->
<hr>
<%= render 'footer' %>
</div>
<!-- /.container -->
