<% if user_signed_in? %> 
	<div class="dev">
		<strong>Dashborad</strong>

		<div class="new">
			<p><%= link_to '新規投稿',new_article_path,'data-no-turbolink' => true ,:class => "pure-button pure-button-primary" %></p>	
		</div>

		<div class="table-responsive">
			<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<th>タイトル</th>
					<th>状態</th>
					<th>カテゴリー</th>
					<th>タグ</th>
					<th>コメント</th>
					<th>日時</th>
				</tr>
			</thead>
			<tbody>
			<% @articles.each do |article|  %>
				<tr>
					<td><%= link_to article.title, article_path(article) %>
					<div><%= link_to '編集', edit_article_path(article),'data-no-turbolink' => true, :class => "pure-button pure-button-primary" %> <%= link_to '削除', article_path(article), :class => "pure-button button-warning" , method: :delete,data:{confirm:"この記事を削除してもよろしいですか?"} %></div>
					</td>
					<td><%= article.status %></td>
					<td><%= article.category_name %></td>
					<td><%= article.tags.map(&:name).map {|t| t}.join(', ') %></td>
					<td><%= article.comments.any? ? 'あり':'なし' %></td>
					<td><%= article.updated_at.strftime('%Y/%m/%d %H:%M:%S')  %></td>
				</tr>
			<% end %>
			</tbody>
			</table>
		</div>
		<p><%= link_to '設定',edit_option_path(1),'data-no-turbolink' => true ,:class => "pure-button" %></p>
	</div>
<% end %>
