<% if user_signed_in? %> 
	<div class="dev">
		<h1>Option</h1>
		<%= form_for @options, html:{class:"form-group"} do |f| %>
			<dl class="dlTable">
			  <dt class="dt">サイトアドレス (URL)</dt>
				<dd class="dd"><%= f.text_field :siteurl, :class => "form-control" %></dd>
				<dt class="dt">サイトのタイトル</dt>
				<dd class="dd"><%= f.text_field :blogname, :class => "form-control" %></dd>
				<dt class="dt">キャッチフレーズ</dt>
	      <dd class="dd"><%= f.text_area :blogdescription, :class => "form-control" %></dd>
	      <dt class="dt">週の始まり</dt>
	      <dd class="dd"><%= f.text_field :startofweek, :class => "form-control" %></dd>
			</dl>
			<div class="form-group">
				<%= f.submit  :class => "btn btn-info"%>
				<%= link_to 'back to dashborad',dashborads_path,:class => 'btn btn-default' %>
			</div>
		<% end %>
	</div>
<% end %>