<%= render 'articles/header' %>
<!-- Page Content -->
<div class="container">
	<section>
	  <div class="contents contact">
	    <div class="form-group">
	    	<h4 class="tbar">お問い合わせ</h4>
				<p>当サイトをご覧いただきありがとうございます。不明点ございましたら、どうぞお気軽にお問い合わせください。</p>
				<div class="note">※回答には多少のお日にちをいただく事があります。予めご了承下さいますようお願い致します。</div>

				<%= form_for @contact,:url => contacts_confirm_path,:html => {:class => 'contact_form'} do |f| %>

				<% if @contact.errors.any? %>
				<div class="errors">
					<strong>エラーがあります</strong>
						<ul>
						<% @contact.errors.each do |attr,msg| %>
							<li><%= msg %></li>
						<% end %>
						</ul>
					</div>
				<% end %>

				<dl id="name" class="">
				  <dt class=""><%= f.label :name, "お名前" %></dt>
				  <dd class=""><%= f.text_field :name, class: "form-control" %></dd>
				  <dt class=""><%= f.label :email, "メールアドレス" %><span>(半角)</span></dt>
				  <dd class=""><%= f.text_field :email, class: "form-control" %></dd>
				  <dt class=""><%= f.label :message, "お問い合わせ内容" %></dt>
				  <dd class=""><%= f.text_area :message, class: "form-control" %></dd>
				</dl>
				<div class="submit input-group-btn"><%= f.submit "この内容で送信する",class: "btn btn-primary" %></div> 

				<% end %>
	    </div>
	  </div>
	</section>
<hr>
<%= render 'articles/footer' %>
</div>
<!-- /.container -->
